@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply dark:bg-neutral-900 dark:text-neutral-200 scroll-smooth;
  }
}
@font-face {
  font-family: "MyFont";
  src: local("MyFont"), url(./assets/font.ttf) format("truetype");
}
.myfont {
  font-family: "MyFont";
}
html {
  font-family: "Roboto Mono", monospace;
}
.bg-office {
  background-image: url(./assets/office.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  scroll-behavior: smooth;
}
.gray{
  color:#4a4a4c;
}
.bg-magenta{
  background-color: #d51d4a;
}
.text-magenta{
 color: #d51d4a;
}
.border-magenta{
  border-color: #d51d4a;
}
.bg-home{
  background-image: url("https://images.pexels.com/photos/205316/pexels-photo-205316.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-office{
  background-image: url("https://images.pexels.com/photos/7989234/pexels-photo-7989234.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}
.blink{
  animation: cursor-blink 0.8s steps(2) infinite;
  -webkit-animation: cursor-blink 0.8s steps(2) infinite;
}